<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, {placeholder: "Required!"} %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
   <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :artist_name %><br />
    <%= f.text_field :artist_name, {placeholder: "Required!"}  %>
  </div>
  
  
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, {placeholder: "Optional! Max 1000 characters"}  %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website, {placeholder: "eg. www.band.com"} %>
  </div>
  <div class="field">
  <%= f.label :tags %>
  <%= f.text_field :tag_list, {placeholder: "split tags with commas"}%>
  </div>

  <h2>Customise Your Artist Profile!</h2>
  <div class="field">
    <%= f.label :artist_image %><br />
    <%= f.file_field :artist_image %>
  </div>
  <div class="field">
    <%= f.label :banner_image %><br />
    <%= f.file_field :banner_image %>
  </div>
  <div class="field">
    <%= f.label :header_font_colour %><br />
    <%= f.text_field :header_font_colour, {placeholder: "RGB format eg.DD44G4"} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
