<p id="notice"><%= notice %></p>

<div class="user_banner">
  <%= image_tag @user.banner_image.url %>
  <% if @user.header_font_colour%>
  <p id="text" style="color: #<%=@user.header_font_colour%>;"><%=  @user.artist_name %></p>
  <%else%>
  <p id="text"><%=  @user.artist_name %></p>
  <%end%>

</div>




  <div class = "artist_details">
  <%= image_tag @user.artist_image.detail.url %>
  <p>

  <h2>tags</h2>
    <% @user.tags.any? %>
    <% @user.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name) %>
    <% end %>
    <br>
    <br>
    <b>About:</b>
    <%= @user.bio %>
  </p>

  <h3>
    <b>Website:</b>
    <a href="http://<%= @user.website %>"><%= @user.website %></a>
  </h3>

 

  <div class = "discography">
<h2>Songs</h2>

  <% @user.songs.each do |song| %>
    <div class = "index_item">
    <%= link_to image_tag(song.image.thumb.url), song_path(song) %>  
  <tr>
    <audio controls>
    <source src="<%= song.song_file %>" type="audio/mpeg" width=200px>
  Your browser does not support the audio element.
  </audio>
    <h3><%= song.title %><br><span>by </span><%=link_to song.user.artist_name, user_path(song.user)%></h3>
  </tr>
</div>  
<% end %>
  </table>
 </div> 
</div>

 <div class = "artist_options">
<% if can? :manage, @user %>
<h2><%= link_to 'Add Song', new_song_path %></h2>
<h3><%= link_to 'Edit Profile', edit_user_path(@user) %></h3>
<h3><%= link_to 'Delete Profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %></h3>
<%end%>

<div>

<div id = "clear"></div>








