

<div class = "home_artists">
  <h1>Artists</h1>

  <% @users.each do |user| %>
    
    <%= user.artist_name %>
  <% end %>
</div>


<div class = "home_songs">
  <h1>Songs</h1>

  <% @songs.each do |song| %>
    <%= song.title %><br><span>by </span><%=song.user.artist_name%> 
  <% end %>
 </div>

<div class = "comments_container">
<h1>Comments</h1>
  <table>
    <tr>
      <th>Comment ID</th>
        <th>Date Posted</th>
        <th>Song</th>
        <th>Posted by</th>
        <th>Flagged?</th>
      </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.id %></td>
      <td><%= comment.created_at.strftime("%d %B %Y")%></td>
      <td><%= comment.song.title%></td>
        <td><%=comment.user.artist_name%></td>
        <td><%=comment.flagged%></td>
        <td><%= link_to 'Delete', [comment.song, comment], method: :delete, data: { confirm: 'Are you sure?' } %><td>
        <td><%= link_to 'Show', song_comment_path(comment.song, comment)%></td>
        <td><%= link_to 'ChangeFlag', [comment.song, comment], method: :changeflag, data: { confirm: 'Are you sure you want to change flag?' } %> </td>

    </tr>
    <%end%>
    <br class="clear" />
  </ul>
