<p id="notice"><%= notice %></p>
<div class = "song_container">
  <div class = "player_large">
    <%= image_tag @song.image.detail.url %><br>
    
  </div>


  <div class = "song_details">
    <h1>
      <%= @song.title %>
    </h1>
    <h3>
      by <%= link_to @song.user.artist_name, user_path(@song.user) %>
    </h3>
    <audio controls>
    <source src="<%= @song.song_file %>" type="audio/mpeg">
  Your browser does not support the audio element.
  </audio>
    <p>
      <b>About:</b>
      <%= @song.about %>
    </p>
    
  </div>

  <div class = "song_options">
    <% if can? :manage, @song %>
      <%= link_to 'Edit', edit_song_path(@song) %> 
      <%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
    <%= link_to 'Back', songs_path %>
  </div> 
  <br class="clear" />
</div>

    
<div class = "comments_container">
  <h2>Comments</h2>
  <ul>
  <% @song.comments.each do |comment| %>
    <li>
      <div class = "comment_item">
      <div class = "comment_image">
        <%= image_tag comment.user.artist_image.thumb.url %>
      </div>
      <div class = "comment_detail">
        <%if comment.flagged == true%>
        <p><%= "**Comment flagged for moderation**"%></p>
        <%else%>
        <p>"<%= comment.comment %>"<p>
          <%end%>
          
        <h3><%= comment.updated_at.strftime("%d %B %Y")%> by 
        <%=link_to comment.user.artist_name, user_path(comment.user)%></h3>
      </div><br>
      
      <h3>
        <% if can? :manage, comment %>
        <%= link_to 'Delete', [@song, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
      
      <% if can? :flag, comment %>
      <%= link_to 'Flag', [@song, comment], method: :flag, data: { confirm: 'Are you sure you want to flag?' } %>
      <%end%>
        </h3>
      
      <%end%>

      </div>
    
    </li><br>
    <br class="clear" />
  </ul>

</div>
  



<%= render 'form_comment' %> 
