<p id="notice"><%= notice %></p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user.artist_name %>
</p>

<p>
  <b>Song:</b>
  <%= @comment.song.title %>
</p>



<%= link_to 'Back', admin_path %>
