<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>MUSIC APP</h1>

    <% if current_user %>
      <p>Logged in as: <%=current_user.artist_name%></p>
      <%= link_to 'logout', logout_path %>
    <%else%>
      <%= link_to 'sign up!', new_user_path %>
      <%= link_to 'login!', login_path %> 
    <%end%>

  <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
    <% end %>

    <nav>
        <ul>
          <li><%= link_to 'Artists', users_path %></li>      
          <li><%= link_to 'Songs', songs_path %></li>       
        </ul>
    </nav>

<%= yield %>

</body>
</html>
