

<h1>Welcome to TheForum!</h1>
<h2>/// Share, Listen, Discuss ///<h2>
<div class = "home_page">
<div class = "home">
  <h1>Artists</h1>

  <% @users.each do |user| %>
     <div class = "index_item"> 
    
    <%= link_to image_tag(user.artist_image.thumb.url), user_path(user) %>
    
    <h3><%= user.artist_name %></h3>
    </div>
  <% end %>
</div>


<div class = "home">
<h1>Songs</h1>

  <% @songs.each do |song| %>
  <div class = "index_item">
      <%= link_to image_tag(song.image.thumb.url), song_path(song) %>  
    <tr>
      <h3><%= song.title %><br><span>by </span><%=link_to song.user.artist_name, user_path(song.user)%></h3>
    </tr>
  </div>  
  <% end %>
  </table>

<div class = "comments_container_home">
<h1>Comments</h1>
  <ul>
  <% @comments.each do |comment| %>
    <li>
      <div class = "comment_item">
      <div class = "comment_image">
        <%= image_tag comment.user.artist_image.thumb.url %>
      </div>
      <div class = "comment_detail">
        <p>"<%= comment.comment %>"<p>
        <h3><%= comment.updated_at.strftime("%d %B %Y")%> by 
        <%=link_to comment.user.artist_name, user_path(comment.user)%></h3>
      </div><br>
      </li><br>
    <%end%>
    <br class="clear" />
  </ul>
<div>





<br />