


<br>
<h2>/// <a href="#artists">Share</a>, <a href="#songs">Listen</a>, <a href="#tags">Discover</a>, <a href="#comments">Discuss</a> ///<h2>
<div class = "home_page">
<div class = "home" id = "artists">
  <h2>New Artists!</h2>

  <% @users.each do |user| %>
     <div class = "index_item"> 
    
    <%= link_to image_tag(user.artist_image.thumb.url), user_path(user) %>
    
    <h3><%= user.artist_name %></h3>
    </div>
  <% end %>
</div>

<div class = "home" id = "tags">
<h2>Popular Tags!</h2>


<% if @tags.count > 0 %>
  
    <% @tags.each do |tag| %>
      <%= link_to tag.name, tagged_url(:tag => tag.name) %>
    <% end %>
  
<% else %>
  <p>There are no tags on the system.</p>
<% end %>




<br>
<br>
<br>
<br>
</div>

<div class = "home" id = "songs">
<h2>Latest Songs!</h2>

  <% @songs.each do |song| %>
  <div class = "index_item">
    <%= link_to image_tag(song.image.thumb.url), song_path(song) %>  
  <tr>
    <audio controls>
    <source src="<%= song.song_file %>" type="audio/mpeg" width=200px>
  Your browser does not support the audio element.
  </audio>
    <h3><%= song.title %><br><span>by </span><%=link_to song.user.artist_name, user_path(song.user)%></h3>
  </tr>
</div>  
<% end %>
  </div>

<div class = "comments_container_home" id = "comments">
<h2>Recent Comments!</h2>
  <ul>
  <% @comments.each do |comment| %>
    <li>
      <div class = "comment_item">
      <div class = "comment_image">
        <%= image_tag comment.user.artist_image.thumb.url %>
      </div>
      <div class = "comment_detail">
        <p>"<%= comment.comment %>"<p>
        <h3><%= comment.updated_at.strftime("%d %B %Y")%> by 
        <%=link_to comment.user.artist_name, user_path(comment.user)%> about  
        <%=link_to comment.song.title, song_path(comment.song)%> by 
        <%=link_to comment.song.user.artist_name, song_path(comment.song)%> </h3>
      </div><br>
      </li><br>
    <%end%>
    <br class="clear" />
  </ul>
<div>







<br />